data/**/*
bin/**/*
lib/**/*
build/**/*
Debug/**/*
todo.md
**/*.h~
**/*.cpp~
src/sambamio/**/*.svn
!src/sambamio/*.h
!src/sambamio/*.cpp
src/plots/**/*
**/*.eps
**/.fuse_hidden*
src/pyscripts/HL7-out.tab
src/pyscripts/__pycache__/*
libs/sqlite-amalgamation-3080802.zip
sqlite-amalgamation-3080802.zip
